[2016-02-26 20:15] aaronmw opened #1 "Button "refresh" ignores text alignment options"
If I use centered text for my button and do the ol' "CMD+J" after changing the text, this plugin redraws my button as though my text had been left-aligned. It'd be awesome if it respected the text's alignment and resized the button relative to the center of my text instead.

[2016-02-27 05:26] fuggfuggfugg commented on #1
Not sure I understand. Check this gif.
![sketch dynamic button](https://cloud.githubusercontent.com/assets/5616123/13370989/b8d5e390-dce8-11e5-9f62-6d1b4eac9bb2.gif)

[2016-02-29 15:19] aaronmw commented on #1
Ah, but leave width as "auto" and repeat though. It'll resize to the right, and not from the center.

[2016-02-29 15:26] aaronmw commented on #1
![](https://dl.dropboxusercontent.com/u/9258007/sketch-button-bug.gif)

[2016-02-29 15:27] samsonkhisty commented on #1
Ahh, thanks for the gif. I'll check it out tonight.

[2016-03-01 05:33] fuggfuggfugg commented on #1
Thanks to your suggestion, I think this works better. I've already updated the code. Do Play around and let me know if this satisfies. Simply download and double clicking should replace the existing plugin.

![sketch dynamic button](https://cloud.githubusercontent.com/assets/5616123/13418613/13e8a00c-df45-11e5-9957-f16ec23b773f.gif)

[2016-03-01 17:16] aaronmw commented on #1
Ooh, exciting — thank you! I'll give it a whirl!

[2016-03-01 17:17] aaronmw commented on #1
Works beautifully — thanks again!

[2016-03-01 17:39] samsonkhisty commented on #1
I'm glad. Thanks for your suggestion.

[2016-03-01 17:41] fuggfuggfugg commented on #1
I'm glad, Thanks for your suggestion.

[2016-03-01 17:41] #1 closed, assigned to nobody

[2016-04-13 22:06] dcarmona05 opened #2 "Dynamic Buttons for Sketch Symbols"
This 3.5 dynmaic button plugin is amazing...

I was wondering if there would be any way to allow dynamic buttons as 'symbols'... (ideally that you can create the dynamic logic in the symbol layer, but give the flexibility to change the text and update on the 'active' canvas page).

<img width="743" alt="screen shot 2016-04-13 at 3 06 38 pm" src="https://cloud.githubusercontent.com/assets/12519916/

[2016-04-21 21:16] fuggfuggfugg commented on #2
Apologies for the late response. Can you elaborate a bit more?
If I understand correctly, instead of creating grouped collection (text & BG), create it as a symbol instead? What purpose would it solve?

[2016-05-20 02:09] frshnss opened #3 "Sketch 3.8 bug"
Version 3.8.1 (29687) has a bug when it comes to generate dynamic button. After CMD+J on the text layer creates an empty folder top of it without the dynamic background.

![screen shot 2016-05-20 at 10 07 53](https://cloud.githubusercontent.com/assets/19482294/15415105/ef2e4fd8-1e72-11e6-92e6-76c5fed817f0.png)

[2016-05-20 02:20] fuggfuggfugg commented on #3
Thanks for reporting. Spent 2 hours debugging this. [Found the issue and logged a bug](https://github.com/BohemianCoding/developer.sketchapp.com/issues/51).

There seems to be an issue in 3.8 for MSStyle File. I'll keep you updated.

[2016-05-20 03:42] fuggfuggfugg commented on #3
@frshnss Done Deal! Finally after another 3 hours to tinkering around, It should work. Uninstall the old one and reinstall the new plugin.

Please test and let me know. Thanks again for using my plugin and also reporting the issue.

[2016-05-20 07:44] frshnss commented on #3
Tested and just works perfectly! Thanks much for all of your efforts, this is a incredibly useful plugin.

[2016-05-20 19:10] fuggfuggfugg commented on #3
@frshnss No worries at all. Closing the ticket.

[2016-05-20 19:10] #3 closed, assigned to nobody

[2016-05-20 20:06] fuggfuggfugg opened #4 "Dynamic button 3.5 now compatible with SKETCH 3.8."
Please check out the update gif in the Readme.

Huge thanks to everyone using this plugin.

[2016-06-01 18:37] websiddu opened #5 "Please add license"
MIT would be great

MIT License

Copyright (c) [year] [fullname]

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and

[2016-06-02 01:02] fuggfuggfugg commented on #5
Done. Thanks.

[2016-06-02 01:02] #5 closed, assigned to nobody

[2016-06-02 17:08] websiddu commented on #5
Thanks :)

[2016-06-02 17:13] websiddu opened #6 "Its nice to give credits to original code"
I can see that you added the credits in the code. But it would have me more nicer if you add the credits on readme.

Why don't you add this one line in your readme file

https://github.com/ddwht/sketch-dynamic-button

[2016-06-02 17:24] fuggfuggfugg commented on #6
Good point. Done.

[2016-06-02 17:24] #6 closed, assigned to nobody

[2016-06-13 16:38] charlesmudy opened #7 "Doesn't seem to be working on Sketch 3.8.3"
Any idea why it might not be working on Sketch v3.8.3?

I followed your installation gif, no padding was created with command+J

[2016-06-13 16:56] fuggfuggfugg commented on #7
Hi @charlesmudy

I did a quick test on 3.8.3, works for me. The plugin needs to know the padding ratio in the text layer name for it to apply. What I suspect is when you update the text in the layer for the first time, it overrides the layer name as well. You have to update the layer name again. Unfortunately, that's Sketch behavior and I have no way of overriding it.

Take a look at this gif.
![s

[2016-06-14 01:52] fuggfuggfugg commented on #7
@charlesmudy Any luck?

[2016-06-14 07:37] charlesmudy commented on #7
@fuggfuggfugg thanks a lot for the clarification, I just needed to redo click the command+J

[2016-06-14 07:37] #7 closed, assigned to nobody

[2016-06-14 13:52] fuggfuggfugg commented on #7
@charlesmudy That is correct, I also looked into simplifying that as well to see if I can catch a text change event and update the padding but it is not currently supported as far as I know.

Thanks again

[2016-06-14 14:24] charlesmudy commented on #7
@fuggfuggfugg thanks a lot anyways for the help :)

[2016-06-14 14:54] aaronmw commented on #7
@fuggfuggfugg event handlers would be a massive game changer for Sketch... I'm surprised they haven't invested in that!

[2016-06-14 15:38] fuggfuggfugg commented on #7
The [relabel](https://www.youtube.com/watch?v=14IKFvKiNqM) plugin addresses this problem pretty nicely allowing to update the text via double click. I'll need to investigate to see how he does it. I have limited knowledge about cocoascript as such and documentation is not all that good.

[2016-06-16 15:23] raulfunkie opened #8 "Options Panel"
Hello.

It'd be nice to have like a options panel where you could set up the keyboard shortcut. I find myself using cmd+d, and everytime the plugin updates I have to manually change it.

What do you think?

[2016-06-16 17:19] fuggfuggfugg commented on #8
I'll definitely look into it. The dev documentation is not as extensive so I'm not sure if this is possible. Have you seen this in action in some other plugin? If so let me know.

[2016-06-16 17:25] raulfunkie commented on #8
I've seen a few that use "modals" to display certain options and settings for their plugin. None of these use it for setting up the shortcut tho.

These are a couple of plugins that use modals for their settings and whatnot. Maybe we can go from there to see if this can be implemented.

https://github.com/elliotekj/specify
https://github.com/awt2542/ViewController-for-Framer
https://github.com/ale

[2016-06-16 17:27] raulfunkie commented on #8
This is probably the code used to show a "modal" on a plugin, but I have yet to find out how does one customize it to show the shortcut and be able to change it.

(Taken from Sketch Proportional Replicator)

[code]

[2016-06-16 17:43] fuggfuggfugg commented on #8
Getting input values should be easy, updating or overriding the existing keybinding is something I'm not sure if it's even possible. I've put this out to other devs http://mail.sketchplugins.com/pipermail/dev_sketchplugins.com/2016-June/003853.html

If it's pretty straightforward, I'll do it. However I just learnt that a native button feature in Sketch is not far  http://mail.sketchplugins.com/pip

[2016-07-20 15:49] jasonmoore-wf commented on #4
I installed this latest plugin but it's not creating the background box, or allowing for changes http://recordit.co/yOVjBFMqxq - I did look at the updated GIF as well.

[2016-07-20 18:19] fuggfuggfugg commented on #4
hi @jasonmoore-wf
My apologies, Can I get your Sketch version number. Chances are that the recent Sketch update must have broken the plugin.

I'm at work currently and cannot look into it right away. I'll make it a point to look at it this evening and fix it for you.

[2016-07-20 19:41] jasonmoore-wf commented on #4
Sure thing... it's
https://www.dropbox.com/s/oqxzzm406klb5nr/Screenshot%202016-07-20%2013.41.01.png?dl=0

I just upgraded today...it wasn't working on v38 either.

[2016-07-21 00:46] fuggfuggfugg commented on #4
@jasonmoore-wf

Plugin should now work with V39. [Click to download Zip ](https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5/archive/master.zip) and reinstall.

Thanks for using the plugin and reporting on the issue.

[2016-07-21 00:46] #4 closed, assigned to nobody

[2016-07-21 00:50] fuggfuggfugg opened #9 "Dynamic button 3.5 now compatible with SKETCH 39"
Updates
- Plugin should now work with V39. [Click to download Zip ](https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5/archive/master.zip) and reinstall.
- Also defaults to 20:10 as padding and layer name.

Huge thanks to everyone using this plugin.

[2016-07-21 00:50] #8 closed, assigned to nobody

[2016-07-21 15:49] jasonmoore-wf commented on #4
Love it! It works :) thanks
https://www.dropbox.com/s/rszrsn6z6dmfk11/Screenshot%202016-07-21%2009.49.35.png?dl=0

[2016-07-21 16:09] fuggfuggfugg commented on #4
Glad it worked. Thanks for the confirmation.

[2016-07-25 11:02] arthurhazan opened #10 "Not compatible with sketch 39.1"
@fuggfuggfugg :) I'm sure your already on it !

[2016-07-25 12:36] fuggfuggfugg commented on #10
Thanks for reporting. However I cannot replicate.

![sketch dynamic button](https://cloud.githubusercontent.com/assets/5616123/17101481/ceef4ca0-5242-11e6-910c-b5f8c912bb25.gif)

[2016-07-25 12:43] arthurhazan commented on #10
Yep, my bad, It's working just fine! Keep up the good work

[2016-07-25 12:43] #10 closed, assigned to nobody

[2016-08-06 20:43] jdeheus opened #11 "Appears to be broken in 39.1"
So this worked great for release 39, however it seems to have stopped working in 39.1. The command still works, however it creates a dynamic group folder but sets the text to 0:0:0:0. The only other plugins I have are Craft and Zeplin, and this still happens even if they are disabled.

[2016-08-07 02:39] fuggfuggfugg commented on #11
Thanks for reporting. However I cannot replicate the issue.

![sketch dynamic button](https://cloud.githubusercontent.com/assets/5616123/17101481/ceef4ca0-5242-11e6-910c-b5f8c912bb25.gif)

[2016-08-09 15:34] asrneo opened #12 "Changing text wont change button background size"
I made a button with padding 5:8, duplicated it and changed the text to the normal text for the button, and the background size didn't change. What am I doing wrong?
![screen shot 2016-08-09 at 11 38 30 am](https://cloud.githubusercontent.com/assets/1288973/17522649/cfae868a-5e25-11e6-8081-56e22ef4f4fe.png)

[2016-08-09 16:23] fuggfuggfugg commented on #12
@asrneo Sorry you are having trouble. Unfortunately the background won't automatically change after changing the text.  You have to manually do a (Cmd + j) again with the text layer selected.

I will update the readme for you once I get back home.

![Here is an old gif](https://cloud.githubusercontent.com/assets/5616123/13418613/13e8a00c-df45-11e5-9957-f16ec23b773f.gif)

[2016-08-10 10:15] biron-io commented on #11
I am having the exact same issues on 39.1 even when I disable all my other plugins.

[2016-08-10 18:24] fuggfuggfugg commented on #11
@biron-io Thanks for reporting. If it's not too much trouble, can I request you to reinstall the plugin and see if the issue still exists?

There was a similar issue earlier #10

[2016-08-17 10:36] aaadryyy opened #13 "Doesn't work with symbols"
Since buttons are used again and again, they'll likely be set as symbols.

Unfortunately the plugin doesn't work with symbols :/ ... yet ?

![](https://media.giphy.com/media/l3vRg4QhrnRdOYTfy/giphy.gif)

[2016-08-17 13:29] fuggfuggfugg commented on #13
Sorry for the inconvenience.

From what I heard, SketchApp is working on it's own button control in one of the upcoming releases after which this plugin may not be necessary. Hence I'm currently simply maintaining it to work with all new versions and not looking into enhancing the plugin.

[2016-08-17 13:36] fuggfuggfugg commented on #11
@jdeheus @biron-io  Is this still an issue?

[2016-08-17 13:36] aaadryyy commented on #13
Good to know !

You did a great job ;)

[2016-08-17 13:36] fuggfuggfugg commented on #12
@asrneo Is this still an issue?

[2016-08-17 13:39] biron-io commented on #11
@fuggfuggfugg Sorry for not getting back to you. Reinstalling the plugin fixed it for me, thanks for your help.

[2016-08-17 13:41] fuggfuggfugg commented on #13
[I had logged this request earlier and this is where the dev mentioned a native button is coming up](http://mail.sketchplugins.com/pipermail/dev_sketchplugins.com/2016-June/003851.html)

Thanks for using the plugin.

[2016-08-17 13:42] fuggfuggfugg commented on #11
No worries. Glad it worked. Thanks for actively using the plugin.

[2016-08-17 13:42] #11 closed, assigned to nobody

[2016-08-17 13:45] jdeheus commented on #11
Reinstalling worked for me, sorry for not responding sooner!
On Wed, Aug 17, 2016 at 9:42 AM fuggfuggfugg notifications@github.com
wrote:

[2016-08-17 13:46] fuggfuggfugg commented on #11
@jdeheus No worries. Glad it worked.

[2016-08-30 23:54] alexandra-aas opened #14 "When I update the padding and rebuild the button it creates a new button inside the old one."
![issue](https://cloud.githubusercontent.com/assets/1214346/18111187/88227426-6eeb-11e6-976c-b2333183c476.gif)

[2016-08-31 02:34] fuggfuggfugg commented on #14
Hi @alexandra-aas,
After you update the padding, keep the text layer (30:20) selected and then rebuild (Cmd + J).

Update: I'll add some better error handling in the next update. I noticed the same issue if I rebuild with the BG layer selected.

Thanks for reporting.

[2016-09-19 20:37] prefontaine opened #15 "Button resizing (apple+J) stopped working"
Love this plugin. Sadly, today it has stopped resizing. Tried un- and re-installing. OSX 10.11.6. Tried Sketch v39 and v39.1.

[2016-09-19 20:58] fuggfuggfugg commented on #15
Hi @prefontaine,
My apologies, Let me poke around it tonight after I get home. I'll update soon.

[2016-09-19 21:01] prefontaine commented on #15
Awwwww. No problem. Just wanted to let you know. Thank you for getting back
to me so quickly!

On Mon, Sep 19, 2016 at 4:58 PM, fuggfuggfugg notifications@github.com
wrote:

[2016-09-20 03:09] fuggfuggfugg commented on #15
@prefontaine Thanks for your patience.

I'm on Mac 10.10.5 and I failed to reproduce an issue. I also added 2 new features and updated the plugin.  Can I request you to try this new plugin and see if the issue still occurs.

As for the new features,
- Now you can add a single value. For eg. If you update the layer name to 15 and run the plugin, it will add 15px padding on all 4 sides. If you do no

[2016-09-20 03:12] fuggfuggfugg commented on #14
Hi @alexandra-aas , Just following up to see if your issue is fixed. Also I have updated the plugin for some better error handling. You can view a demo here.

![sketch dynamic button](https://cloud.githubusercontent.com/assets/5616123/18656128/94614d62-7ebc-11e6-870e-5314fa1bd2ec.gif)

Please let me know if the issue still occurs and I can assist you.

[2016-09-21 03:36] #9 closed, assigned to nobody

[2016-09-21 03:43] fuggfuggfugg opened #16 "Sketch App now compatible with Version 40"
Updates
- Plugin should now work with V40. [Click to download Zip ](https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5/archive/master.zip) and reinstall.
- Now allows single integer values. 20, 20:20, 20:20:20, 20:20:10:10. Defaults to 20. See demo.
- Now <cmd+j> works only on a text layer and will ignore all other layers. If you select any other layer and hit <cmd+j> It will ignore that la

[2016-09-21 03:45] #12 closed, assigned to nobody

[2016-09-21 20:40] prefontaine commented on #15
Thank you @fuggfuggfugg. I figured out what I was doing wrong. So silly: Somehow the dimensions of the text box had been changed. So it was working — to the text box. Thanks again for the quick response and for updating this awesome plugin. I love it!

[2016-09-21 20:40] #15 closed, assigned to nobody

[2016-09-29 06:13] ChrissyChien commented on #16
It's a very useful plugin. Thank you for working on this.

[2016-09-29 14:02] fuggfuggfugg commented on #16
@ChrissyChien Thanks, Glad you like it.

[2016-10-19 21:54] mikeprecious commented on #16
What about instances where I may have a shape layer based icon next to a text layer and group in a folder. In the past, I could simply commit a padding ratio like 8:16 and Dynamic button would apply a shape layer around the 8:16 name folder. Would really like to see this functionality back, as all button instances are not text-only. Thanks!

[2016-10-20 02:44] fuggfuggfugg commented on #16
Apologies for ignorance on my part. I added a check recently to apply to only the text layer so the user didn't have to undo every time they run the command on some other layer. I'll remove the check and update soon.

[2016-10-24 17:52] sweetyams opened #17 "'Improvement' of applying to only text layers reduces functionality"
The recent switch to only affect text layers us a really big change and affects a lot of cases that we were using the plugin for. We consistently use the plugin to setup margin and padding with groups of elements so for it to only apply to text elements cause a lot of problems.

is it possible to revert this change to allow the plugin to apply to more than just text layers?

[2016-10-24 19:33] fuggfuggfugg commented on #17
Also pinging @mikeprecious

@sweetyams, Apologies mate. I'll revert this tonight.

If you want to fix this temporarily, Navigate to the plugin folder and open the plugin in any editor.

https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5/blob/master/DynamicButton3.5.sketchplugin/Contents/Sketch/script.cocoascript#L98

And you can replace the if condition from

`if( [currentLayer class] ==  M

[2016-10-25 04:21] fuggfuggfugg commented on #17
@sweetyams @mikeprecious

I've removed the check and updated. You can download & reinstall the plugin.

Thanks for the feedback.

[2016-10-25 04:21] #17 closed, assigned to nobody

[2016-10-25 12:59] sweetyams commented on #17
Thanks! this is amazing.

Thank you for jumping on this so quickly

[2016-10-27 13:40] mikeprecious commented on #16
Appreciate you making the change! Thanks

[2016-11-11 18:32] hoathai commented on #2
# Reusable dynamic buttons

**Non Symbols Solution**

Use a combination of the[ Dynamic Button 3.5 plugin](https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5), shared styles and if you want to abut objects, use the[ Butter plugin](https://github.com/pberrecloth/butter-sketch-plugin)
1. Creating Dynamic Button
   1. Create text object and type in padding value using CSS notation but with col

[2016-12-03 22:16] montemartin opened #19 "Support for symbols"
Is possible to add dynamic padding to all instances of symbols after content overrides?

I'm using a single button as symbol throughout my design. When I cmd+J on the symbol it updates, but then the size of all instances is set to the padding of the original content. For example if I use a symbol with the text "button" then change the text to "Start Now!". I've tried it with all the resizing optio

[2016-12-09 22:53] lanceadam opened #20 "Modify Default Styles"
Is there a way to set default styles for my file? i.e, I want to set the background colour of the button container and remove the radius?

[2016-12-10 19:26] fuggfuggfugg commented on #19
This is something I'm not sure about. Let me put a note through to the dev group.

Also, couple months ago I was told Sketch was working on a new button feature hence I am simply maintaining the original plugin to work with new releases.

[2016-12-10 23:22] fuggfuggfugg commented on #20
Sure, I've updated the plugin so it is easy for you to override the defaults.

- Download and Re-Install the plugin.
- You will need to open the plugin in a Text Editor and update these 3 lines: https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5/blob/master/DynamicButton3.5.sketchplugin/Contents/Sketch/script.cocoascript#L13-L15
- Click Gif Below to expand

![override](https://cloud.githubu

[2016-12-10 23:22] #20 closed, assigned to nobody

[2016-12-12 22:30] freefood89 commented on #14
(v41.2)

I have the same issue. Even worse, when I select the text layer and cmd+J it resets the name of the text layer to "20:20"

If I select box the button and the text layer as you've done in the gif, it creates another button around that button

[2016-12-13 03:08] fuggfuggfugg commented on #14
My apologies. I just fixed the issue. Can you please re-install the plugin and try again. If you don't set any padding in the text layer name then it will apply 20:20 as default padding.

You need to select the text layer only at all times to add the padding again. I had recently added logic to ignore any other selection to address this issue but I received some complaints and had to revert it bac

[2016-12-14 15:53] freefood89 commented on #14
@fuggfuggfugg fixed thanks 👍

[2016-12-14 16:13] fuggfuggfugg commented on #14
Glad it worked. Thanks for reporting the issue.

[2016-12-14 16:13] #14 closed, assigned to nobody

[2016-12-28 20:05] derekatkinson opened #21 "Crashes Sketch if executed with anchor point selected"
Not sure why it happens, but it's easily reproducible. To reproduce: create a vector shape, go into mode for editing paths/anchor points and select an anchor point, and execute the plugin with either the keyboard shortcut or the menu option. Sketch will crash instantly.

I just noticed that this problem also existed in the legacy Dynamic Button plugin, so I'm guessing it's caused by code taken fro

[2016-12-28 20:08] fuggfuggfugg commented on #21
Thanks for reporting, I don't have sketch handy to test it out. Let me get back to you by tonight if possible.

[2016-12-28 20:12] derekatkinson commented on #21
Thanks! I'm in no hurry for it to be fixed, since I know what to avoid doing, but thought you might like to know in case you want to make the plugin a bit more stable at some point.

I forgot to mention, I'm using Sketch Version 41.2 (35397).

[2017-01-20 00:35] lanceadam commented on #20
Thank you!

How would I go about setting the background to no fill and applying an outline instead?  i.e for “outline/line” style buttons?

Kind Regards
Lance Redgrave | Managing Director

Level 1, 52-54 Willoughby Rd Crows Nest 2065

p(02) 9439 9115 <tel:0294399115> m0405 419 755 <tel:0405419755>
elance@redfoxmedia.com.au <mailto:lance@redfoxmedia.com.au>
www.redfoxmedia.com.au <http://www.redfox

[2017-01-20 05:05] fuggfuggfugg commented on #20
[DynamicButton3.5.sketchplugin.zip](https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5/files/718464/DynamicButton3.5.sketchplugin.zip)

This plugin only for you. Unzip the file and install this plugin. It has no fill and `#828282` as default border.

To edit the border color and thickness:

1. Open plugin in a text editor (previous gif)
2. Line 17 & 18, Change `borderColor` and `borderThick

[2017-01-20 05:06] lanceadam commented on #20
Awesome thanks!

Kind Regards
Lance Redgrave | Managing Director

Level 1, 52-54 Willoughby Rd Crows Nest 2065

p(02) 9439 9115 <tel:0294399115> m0405 419 755 <tel:0405419755>
elance@redfoxmedia.com.au <mailto:lance@redfoxmedia.com.au>
www.redfoxmedia.com.au <http://www.redfoxmedia.com.au/> 		 <https://www.google.com/partners/?hl=en-US#a_profile;idtf=8008220449> 		 <http://www.webindustry.asn.au/d

[2017-02-08 00:07] JWhiteUX commented on #19
I know there is a plugin that supported this. In fact I thought it was Dynamic Button. There is a plugin that lets you specify the `L` and `R` padding much like DB3.5. IconLayer  `R:20` and the Label/Text layer gets your typical padding e.g. `10:10:10:30` and IRCC the icon is 20px from the right and the label is 30px from the right, leaving a 10px space between the left side of the icon and the ri

[2017-02-08 00:50] JWhiteUX commented on #16
Did this previously work with icons? Say you're crating a drop down button. I thought it was possible to also apply the padding rules to the icon layer and it too would update along with the button label. Is this not true?

[2017-02-13 02:56] fuggfuggfugg commented on #19
@mikeprecious
@montemartin
@JWhiteUX

I think I got the symbols working *fingers crossed*. I've pushed it in a branch for now. Can I request you to [Beta test this branch ](https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5/tree/sketch-symbols-fuck-yeah) out please?

![Gif In Action](https://cloud.githubusercontent.com/assets/5616123/22869517/bbf7605e-f16d-11e6-8994-832d26430bf0.gif)

[2017-02-13 03:04] fuggfuggfugg commented on #13
@aaadryyy
I have created branch for Dynamic Button to work with Symbols. You can refer to #19 to download a copy and test. Still in beta.

[2017-02-13 03:18] fuggfuggfugg commented on #2
@dcarmona05
@hoathai
@chris-tcw

Created new branch for Symbol support. Download plugin from #19

Please test when you have a moment and give feedback.

[2017-02-14 18:03] mikeprecious commented on #19
@fuggfuggfugg Mind blown! Hoping for this feature for a while. Button making euphoria here. Thanks. I'd suggest pushing this pony, live.

[2017-02-14 18:06] fuggfuggfugg commented on #19
@mikeprecious Glad to hear that. I'll wait to see for any other issues that might crop up and merge it into the master.

One suggestion that came up was to make it work if button is inside a nested symbol. Will give it a shot.

Thanks again for the feedback.

[2017-02-14 18:10] mikeprecious commented on #19
+1 on the plugin functioning within nested symbols. Thanks for your work on this.

[2017-02-14 22:13] ckeelers commented on #19
Chiming in to simply express my appreciation for those involved integrating this feature. Makes this plugin considerably more dynamic. Great work and thanks!

[2017-02-15 21:57] JWhiteUX commented on #19
Amen @ckeelers ! Super helpful plugin! Saves me so much time! Many thanks @fuggfuggfugg

[2017-02-24 12:35] walmink opened #23 "Command to update multiple button symbols"
The symbol support is great! Two things that could further improve efficiency:

1. Allow cmd+j to work on all symbols selected (currently, it only affects one)
2. Separate shortcut to update all symbols in the document (apart from making sure all your buttons are up-to-date without having to check individually, it's also a nice shortcut that means you don't have to select the button you've just ch

[2017-03-01 23:16] swizenfeld commented on #19
Hi Fugg, where are you on this? and nested symbols? this would be a huge time saver

[2017-03-02 02:00] fuggfuggfugg commented on #19
@swizenfeld Sorry mate, been really busy past couple weekends working full time. I'll see what I can do this Sunday.

[2017-03-02 02:03] fuggfuggfugg commented on #23
Can you elaborate more on point 2 with an example?

[2017-03-02 03:40] fuggfuggfugg commented on #21
Logged report with Sketch.

[2017-03-02 03:40] #21 closed, assigned to nobody

[2017-03-02 07:28] JWhiteUX commented on #23
Agree with Fugg, can you elaborate on how you would use thaf feature? Why
would it improve your workflow?
On Wed, Mar 1, 2017 at 6:03 PM fuggfuggfugg <notifications@github.com>
wrote:

[2017-03-02 10:12] walmink commented on #23
Happy to elaborate!

Using the "global" shortcut to update all buttons would mean you can change a bunch of button labels and then update them all at once, without a need to select or check them individually (especially when combined with Auto-Layout plugin, the alignment could automatically update too, so you don't have to reposition it afterwards)

My second point of not having the select the bu

[2017-03-02 14:23] fuggfuggfugg commented on #23
The first issue is already fixed on the branch. Thanks for reporting.

Makes sense but currently there's no good way to identify if a component is a dynamic button or not. Cannot rely on the name of the layers since users can change.  Once I have a solution, then it opens up door to other possibilities eg: Run dynamic button on text change.

Also haven't played with Auto-Layout plugin, will check

[2017-03-06 02:31] fuggfuggfugg commented on #23
Can I close this for now?

[2017-03-06 03:09] fuggfuggfugg commented on #19
@mikeprecious I would appreciate your input in this.

I spent some time looking into nested symbol and got something working but I don't think this is how it is supposed to behave. I don't use sketch in my professional job at all maybe you can elaborate more. This seems to be a bit more complex to handle nested dynamic buttons.

Have a look at what I've currently happening:

![symbols](https://clo

[2017-03-06 06:16] swizenfeld commented on #19
Its more about having nested symbols instead the button than a symbol with the
button being inside of it.
so what would be great is that if the background and the text has nested symbols
so we can change the color in case there are multiple color buttons in a website
or app lets say one with a blue background and another that is a ghost blue
button so you need one with blue text and blue border an

[2017-03-06 09:23] walmink commented on #23
Yup, if you don't have a sure way of identifying buttons, then it's not possible for now. I'll have a look if there is a plugin to select one symbol and then through a shortcut select all the same symbols!

[2017-03-06 12:43] mikeprecious commented on #19
The ideal outcome would be when I’ve created a series of button instances, each with their own unique text, off one one Symbol instance of the button, and I commit a Dynamic Button action, either all instances would update accordingly, OR, just that one instance in front of me on screen updates.

The core state, existing on the Symbols page, should never change. Because if it does, there’s the ris

[2017-03-06 17:12] fuggfuggfugg commented on #23
@WWalmink

Actually I may have a way to tag a component once a plugin is run the first time. The subsequent times you run a plugin, I may be able to detect based on the tag.

[2017-03-06 17:17] fuggfuggfugg commented on #19
@mikeprecious @swizenfeld Thanks for the inputs, I'll look into this coming weekend.

In the meantime, another feature I may be able to add is default values in the manifest. I've had a couple of request for setting color, or buttons with only outline and not fill. Extra border-radius etc.  Is this something of value to you?

[2017-03-06 17:21] swizenfeld commented on #19
Well I feel those are all things that you could do with child symbols for
the background and text.

Would like to see a screenshot otherwise not sure how you would do this
otherwise

On Mon, Mar 6, 2017 at 9:17 AM fuggfuggfugg <notifications@github.com>
wrote:

[2017-03-06 17:28] fuggfuggfugg commented on #19
@swizenfeld Sorry, I should have been clear. This is not related to the symbols at all. I currently default padding to 20, border radius to 5 and bg to gray when you run the dynamic button for the first time. I've had a lot of requests asking for default padding to 5, and no bg with outline. I have to then ask them to open plugin and update manually.

Also, Can you elaborate more on the first poin

[2017-03-06 17:39] swizenfeld commented on #19
Mind sending me a private email? I will send you a test sketch file of how
the set up would be and see if you can get the dynamic button to work work
it.

Hi@imserg.io

On Mon, Mar 6, 2017 at 9:28 AM fuggfuggfugg <notifications@github.com>
wrote:

[2017-03-07 04:19] fuggfuggfugg commented on #19
@mikeprecious Something like this? Although this is not nested so I'm not sure if I understood correctly.

![symbols](https://cloud.githubusercontent.com/assets/5616123/23641622/5e038ad8-02c3-11e7-9dc8-179009a2b01e.gif)

[2017-03-07 14:51] mikeprecious commented on #19
@fuggfuggfugg You have the logic correct.

Take it one step further: If I went back to the Symbol and modify the padding, it would be great to have a command in Dynamic Button plugin where I can tell all Page by Page instances of that button to update to the new padding. That way, I don't need to go back into the potentially dozens or even hundreds of instances, to update the new padding. Perhaps

[2017-03-07 18:14] walmink commented on #23
Hm, that's pretty cool, but also a little hard to predict, as the user cannot see which buttons have or haven't been triggered before. Limiting it to symbols (of which there typically are only a few) might be a solution? So any instance of a symbol tagged as a button will update with the global shortcut. Just an idea.

[2017-03-07 20:23] fuggfuggfugg commented on #23
Is your request similar to [this](https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5/issues/19#issuecomment-284743011)

[2017-03-09 06:56] fuggfuggfugg commented on #19
@mikeprecious Something like this?

![symbols](https://cloud.githubusercontent.com/assets/5616123/23739273/a25e5f9c-046b-11e7-8b78-2003a972b8a0.gif)

[2017-03-09 07:01] swizenfeld commented on #19
Thats great! Any advances on child symbols? 😬

On Wed, Mar 8, 2017 at 10:56 PM fuggfuggfugg <notifications@github.com>
wrote:

[2017-03-09 14:34] fuggfuggfugg commented on #19
Working on it. Lol. I can only work on this after hours when I get back home.

[2017-03-10 07:51] cypmal opened #24 "Not working with symbols"
I'm using sketch version 42 (36781) and I have problem with button converted to symbol when I will change text on symbol and  press CMD+J it creating a new dynamic button on the symbol. Please fix it.

[2017-03-10 14:22] fuggfuggfugg commented on #24
What do you want it to do instead?
Currently Dynamic will run on any layer you do cmd+j.

Also, is this a symbol Master or symbol Instance. If you can make me a gif, I can better understand.

[2017-03-10 14:41] mikeprecious commented on #19
@fuggfuggfugg in response to your screencast demo - yes! Though, for user experience cognition, if you introduced a child command to the effect of, "Apply to all instances".

Otherwise, this functionality works quite well.

From what I understand, the next challenge is nested Symbols.

[2017-03-13 04:46] fuggfuggfugg commented on #19
@mikeprecious Instead of adding another child command I made it work with cmd+j. The master will resize to fit and then run calculations for all children instances in the same command.

I've committed this in a completely separate [branch](https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5/tree/nested-symbols). This may not work on existing symbols, the implementation has changed quite a bi

[2017-03-13 04:57] swizenfeld commented on #19
That is awesome!! That's exactly what I need can't wait for the working
version.

Let me know if you need me to test it out

On Sun, Mar 12, 2017 at 9:46 PM fuggfuggfugg <notifications@github.com>
wrote:

[2017-03-15 17:55] brant454 commented on #24
@fuggfuggfugg thanks for maintaining this. An added feature, to @cypmal's point, would be to have this capability work on buttons that are converted to symbols. When I place an instance on the artboard and override the label, there's no way to use the dynamic resize.

Is it possible to add this? Thanks in advance.

***update: I just saw that this conversation has been happening in another thread s

[2017-03-15 21:16] fuggfuggfugg commented on #24
@brant454

Basic symbol overrides are currently working. It resides in a [separate branch](https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5/tree/sketch-symbols-fuck-yeah). You can use this [download link](https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5/archive/sketch-symbols-fuck-yeah.zip) to play around.

I am currently still working on supporting nested symbols and it's not as

[2017-03-25 03:30] swizenfeld commented on #19
Hey there! any more advancement into the child symbol?

On Sun, Mar 12, 2017 9:56 PM, sergio wizenfeld swizenfeld@gmail.com  wrote:
That is awesome!! That's exactly what I need can't wait for the working version.
Let me know if you need me to test it out

On Sun, Mar 12, 2017 at 9:46 PM fuggfuggfugg <notifications@github.com> wrote:
@mikeprecious  Instead of adding another child command I made it

[2017-03-25 14:50] fuggfuggfugg commented on #19
Hi @swizenfeld

I haven't had any luck so far, My current issue is when you have overrides for text symbols meaning:
 * You select override txt-blue - add "text 1"
 *  Then select override txt-white - add "text 2"

When I run the plugin it gives me both values and I have no way to determine which one is the current selected value.

There is a whole new ticket over here ->  http://sketchplugins.com

[2017-04-06 00:45] jonbraz0 opened #25 "Support for added measurements"
![screen shot 2017-04-05 at 5 43 41 pm](https://cloud.githubusercontent.com/assets/26942919/24732719/7556ce9a-1a27-11e7-8daa-ddb17569eb8b.png)
![screen shot 2017-04-05 at 5 43 36 pm](https://cloud.githubusercontent.com/assets/26942919/24732728/7dd8c5e6-1a27-11e7-99ca-a07f60b10644.png)

I thought there was support for this before...but can't seem to get it working.
I would specify an added measurem

[2017-04-07 17:58] JWhiteUX commented on #25
Is second this. I could have sworn this was available in an earlier release.

[2017-04-07 18:33] JWhiteUX commented on #19
I compiled a Sketch file with some instructions, and all the building blocks. Not sure if this what @swizenfeld is asking for, or if you @fuggfuggfugg are working on.

I'll repost here — > http://sketchplugins.com/d/108-2-text-values-for-the-same-symbol-override/8

**File**
[DB3.5-Nested-Symbols-Proposal.zip](https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5/files/906486/DB3.5-Nested-Symbo

[2017-04-09 22:51] fuggfuggfugg commented on #25
It should have worked, can I ask if you are renaming the layer correctly. I see the highlighted layer name is the image you put above is "r:11". can you try by just putting 11 or 11:11.

My apologies for the delay in replying. Have to work during weekends for a deadline unfortunately.

[2017-04-10 16:53] jonbraz0 commented on #25
yeah tried 11 and 11:11 and still not working. previously i'd cmd+j the original text used to make the button and it would adjust.

[2017-04-10 17:47] JWhiteUX commented on #25
Doesn't work for me either.

I think the point of `R:10` was to align a icon/symbol to the `Right` with 10px padding.

Using `10:10:10:n` would require knowing the left padding, which might change from button to button.

I tried `r:10` `R:10` and 10:10:10:50` and that didn't work either.

[2017-04-10 17:54] JWhiteUX commented on #25
Test File
[db3.5-button-and-symbol-padding.zip](https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5/files/910964/db3.5-button-and-symbol-padding.zip)

[2017-04-10 18:34] fuggfuggfugg commented on #25
@jonbraz0, Maybe I'm understanding this incorrectly. If you group the icon and text and apply the 11:11:11:11 to the Group then it will draw the button around it. Is that something you are trying to achieve.

@JWhiteUX The plugin never supported syntaxes like r:10. Maybe it was a different plugin.

I'm at work and don't have sketch. I will check the file if I get time in the evening.

[2017-04-10 19:20] JWhiteUX commented on #25
Ah… Found it. @jonbraz0 @fuggfuggfugg  — https://evilmartians.com/chronicles/compo-sketch

Compo does the r:10 thing. I would love to have this available in DB3.5. One less plugin to use.

See `Compo Example 3

[2017-04-10 22:23] jonbraz0 commented on #25
oh man, well that also explains why i thought it worked...same shortcut.

[2017-04-27 05:45] cypmal commented on #19
any progress to resolve it?

[2017-05-12 04:59] thelefty opened #26 "Help"
Trying to edit the script so that the default has a certain Inner-shadow. Any ideas? Thanks in advance.

[2017-05-15 16:36] fuggfuggfugg commented on #26
Sorry for the delay, I was trying this last night but I don't get it to work. The documentation is pretty limited.

I managed to find a way to assign values if the innershadow already existed but couldn't find a way to add a new instance. I've logged an issue here - http://sketchplugins.com/d/220-adding-new-innershadow-programatically

[2017-05-15 17:01] fuggfuggfugg commented on #19
@cypmal sorry, I was away on holiday and never got a chance to work on it at all.

I will try and revisit with a fresh mind and hope to find a solution.

[2017-05-19 16:32] fuggfuggfugg commented on #26
@thelefty Finally someone answered.

You can add the below code [on this line ](https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5/blob/master/DynamicButton3.5.sketchplugin/Contents/Sketch/script.cocoascript#L26)

    var innerShadow = container.style().addStylePartOfType(3);
    innerShadow.offsetX = 20.0;
    innerShadow.offsetY = 20.0;
    innerShadow.spread = 3;

I haven't tested this o

[2017-05-19 16:32] #26 closed, assigned to nobody

[2017-05-22 15:29] Arroyodorado opened #27 "Not working anymore in Sketch 44.1"
This gem is one of my most important plugins. Unfortunately it doesn't work in Sketch 44. I guess it has something to do with the changed/improved resize options of layers/groups. Could you please have a look at it?

Important: I'm refering to the "symbols-fuck-yeah" branch, not the master!

[2017-05-22 15:31] Arroyodorado commented on #27
Oh, I'm refering to the "symbols-fuck-yeah" branch, not the master!

[2017-05-22 19:17] Arroyodorado commented on #27
Ok, found a solution. Just change Line 138 of script.cocoascript to:

var symbolInstanceValue = existingOverrides.objectForKey(ObjectId);

[2017-05-22 19:17] #27 closed, assigned to nobody

[2017-05-23 01:27] #25 closed, assigned to nobody

[2017-05-25 17:02] thunderdunk opened #28 "Changes to group resizing in Sketch 44 affect dynamic buttons"
After updating to Sketch 44 I was having some issues with getting buttons to resize properly. Running the Dynamic Button tool would change the BG layer as expected, but the bounding box for the button group would stay at its original size. Then resizing the group bounding box to fit is a nuisance, and is problematic with the new group resizing options in the Sketch update.

I finally figured out a

[2017-06-01 14:13] bomberstudios opened #29 "Support Sketch 45 plugin update system"
Hi there!

This is a quick note to remind you that Sketch 45 will include a plugin update system.

It would be awesome if you could add support to it (it's really easy!) before Sketch 45 comes out. Ideally, you should release an update for your plugin while we're still in Sketch 44, so your users will have a nice & easy experience when 45 is released.

For more details, please check http://sketchp

[2017-06-02 03:03] #29 closed, assigned to nobody

[2017-06-02 04:12] fuggfuggfugg commented on #28
@thunderdunk Thanks for notifying the issue. Sorry for the delay in responding. I had to renew my license to update the version. Re-install plugin and let me know.

[2017-06-02 04:14] fuggfuggfugg commented on #29
@bomberstudios Thanks for the update. @adamkirkwood has already updated. I will look into further and add the badges.

[2017-06-02 18:32] thunderdunk commented on #28
@fuggfuggfugg Yay works! Thanks for maintaining this plugin!

[2017-06-02 20:31] fuggfuggfugg commented on #28
Not at all. Thanks **YOU** for actively reporting the issue with all details.

Have a nice weekend mate.

[2017-06-02 20:31] #28 closed, assigned to nobody

[2017-06-08 12:10] mikeprecious opened #32 "Symbols"
@fuggfuggfugg just curious how things are looking with the dev on the Symbols functionality?

For a prod version, it would be fantastic to see the basic text-in-button format work as a symbol. So each instance of the button I create out on my Page › Artboard with unique text field modifications, I can engage the Cmd+J KB shortcut and the button shape layer base resizes.

[2017-06-10 15:22] fuggfuggfugg commented on #32
I'll merge the basic stuff in tonight.

[2017-06-10 23:32] Nate-Gee commented on #19
Any updates on this? This would be a dope addition.

[2017-06-12 02:13] fuggfuggfugg commented on #32
Hi @mikeprecious,

I've merged the "sketch-symbols-fuck-yeah" branch into Master. This supports the basic symbol manipulations. If you have installed Sketchpacks, you should get an option to update the new version. If not, you can reinstall the plugin the old way.

Let me know how it goes.

[2017-06-12 02:13] #32 closed, assigned to nobody

[2017-06-12 02:14] fuggfuggfugg commented on #19
@sqwear Fixing nested symbols are still a pain in the ass. However, I've merged the basic symbols functionality back into the master branch. Either you can update the plugin via sketch packs or download the plugin and double click to install.

[2017-06-16 11:01] itaydre opened #33 "Plugin problem"
Hey,

Recently I'm having a problem with the plugin, it only change the name (if I didn't change it to 10:10:10:10 for example) of the text layer but a button isn't being created.
Tried to reinstall and installed the latest version.

Do you know how to fix that?

Thanks and keep up the great work!

[2017-06-18 18:43] fuggfuggfugg commented on #33
Hi @itaydre,
Sorry for the late response.
I just tried with the latest plugin. Works for me. Can you create a gif for me?

See my gif below.

![symbols1](https://user-images.githubusercontent.com/5616123/27263311-80304296-5434-11e7-8abb-9c9c7222b2a2.gif)

[2017-06-19 19:16] fuggfuggfugg commented on #33
@itaydre Just checking if you still have this issue?

[2017-06-28 10:38] itaydre commented on #33
Hey, sorry, but it's only the shortcut that doesn't work.

[2017-06-29 03:18] fuggfuggfugg commented on #33
Tried again with the latest version still can't replicate, Can you create a gif for me like I attached above. You can use LiceCap app to record screen.

[2017-06-29 12:23] itaydre commented on #33
https://gyazo.com/72045da9ad121a64b9a210dd54d0a051

You can the plugins tab the top bar flashing but nothing happen.
How can I change the shortcut?

[2017-06-29 16:20] fuggfuggfugg commented on #33
This looks like an issue with the Sketch app itself.

Some questions:

* What version of sketch is this? Click "About Sketch" in the taskbar
* If you use shortcut directly (cmd + j) with the text layer selected, what happens?
* Something else you can try is use the console app, App/Utilities/Console. Click on 'Clear Display' and then try clicking the plugin option and see what error it gives.

I h

[2017-06-29 18:11] mikeprecious opened #34 "Sketchpacks app"
Hi there, wondered if you pushed the symbol support version of Dynamic Button to where Sketchpacks app can access it.

[2017-06-30 03:42] fuggfuggfugg commented on #34
@mikeprecious The basic symbol support has been merged in. Nested symbol is still incomplete.

[2017-06-30 12:11] itaydre commented on #33
- I've got the latest version - 45.
- If I use the cmd + j command nothing happens.
- I think that this line appears once I hit the plugin shortcut
![screen shot 2017-06-30 at 15 10 58](https://user-images.githubusercontent.com/29481587/27735067-68121e3e-5da6-11e7-8039-04fc05345692.png)

[2017-06-30 12:51] mikeprecious commented on #34
Thanks @fuggfuggfugg ! Used Sketchpacks the other to remove and update the Dynamic Button plugin and the state of the plugin that got installed on update removed the symbol functionality that existed from the prior, manual installation. I've actually had to manually download and install the plugin from the symbol branch state on Github to get the symbol support functionality. Seems like there's so

[2017-06-30 21:16] fuggfuggfugg commented on #34
Hmm, That's weird. I'll try this tonight and get back. The symbol branch I thought I had merged it in. I'll try re-installing from Sketchpacks. Thanks for notifying me about the issue.

[2017-06-30 21:17] fuggfuggfugg commented on #33
This is weird, How did you install the plugin? Sketchpacks or manually download and install?

[2017-06-30 22:20] mikeprecious commented on #33
Sketchpacks. But then the symbol functionality did not work.

I re-downloaded directly from Github to my desktop and drag-dropped into the Sketch plugins parent folder. It worked doing it this way.

[2017-07-01 03:05] fuggfuggfugg commented on #34
@mikeprecious I just uninstalled and re-installed from sketchpacks and the basic symbol works.

Can you confirm which branch are you talking about? I merged
 https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5/tree/sketch-symbols-fuck-yeah

I haven't merged the nested-symbols branch yet.

[2017-07-07 12:55] fbasara-loft48 opened #35 "Dynamic Button creates unresponsive button in Sketch 45.1"
**Steps to reproduce**
- Update Sketch to latest Version and restart
- Select any layer and hit CMD+J
- Try to CMD+Click or simply click the object
- Object can't be selected or moved unless layer which was used to create a Button (e.g Text) is being moved manually with keyboard shortcuts or via the inspector panel.

Video demo
https://gfycat.com/DirtyHeartyBug

[2017-07-08 14:49] fuggfuggfugg commented on #35
Thanks for notifying, seems like this new 45.1 update seems to be causing it. I can replicate the issue you mention but I haven't had a chance to debug and verify if it is my plugin or an issue with Sketch itself. I will get back to you again once I have time to dive deeper.

Thanks again

[2017-07-09 01:44] fuggfuggfugg commented on #35
@fbasara-loft48 Issue fixed, Update via Sketchpacks. Let me know how it goes.

[2017-07-09 01:44] #35 closed, assigned to nobody

[2017-07-10 06:03] fbasara-loft48 commented on #35
You're a legend @fuggfuggfugg.
Works like a charm!

[2017-07-11 14:11] gorillabiscuit opened #36 "Group cannot be selected when created"
To replicate this bug (if it is a bug and not some kind of feature that I don't understand) create a new text object. Then hit CMD-J to create a dynamic button. The button cannot be selected. You can see the button in the left column and select either the text layer or the vector object (not the group folder itself)

To make it selectable again, I have to highlight the text object and hit CMD-J ag

[2017-07-11 17:15] fuggfuggfugg commented on #36
Is it same as #35?
https://gfycat.com/DirtyHeartyBug

[2017-07-11 17:48] gorillabiscuit commented on #36
Yes, exactly the same problem, I downloaded it today though :/ will try again tomorrow and work and see if it's now fixed.

[2017-07-11 18:04] fuggfuggfugg commented on #36
No worries, Let me know how it goes.

Thanks for actively reporting the issue.

[2017-07-13 19:35] raulfunkie commented on #35
Can confirm it fixes the bug, just had the bug happen to me and the updated successfully fixed it.

[2017-07-14 14:47] fuggfuggfugg commented on #33
@itaydre Checking in to see if you still having issue with the plugin?

[2017-07-14 14:47] fuggfuggfugg commented on #36
@gorillabiscuit Checking in to see if this is working for you.

[2017-07-17 06:33] gorillabiscuit commented on #36
Yep, seems to be working correctly now. I've uncovered another issue. Will close this and create a new one.

[2017-07-17 06:33] #36 closed, assigned to nobody

[2017-08-02 17:42] mikeprecious commented on #34
@fuggfuggfugg apologies for the radio silence.

I cannot recall my steps at the moment. I just updated the plugin via SketchPacks. I still get the legacy behaviour: I try to dynamically resize the symbol Cmd+J and it produces a grey box behind the symbol. If I dive into the symbol contents, everything is set up properly. For example 8:16 defined in the text layer name and the shape layer behind it

[2017-08-02 17:56] fuggfuggfugg commented on #34
I'll take a look tonight.

If it's not much trouble, can I request a gif just so I can replicate it exactly?

[2017-08-02 19:04] Nate-Gee commented on #19
@fuggfuggfugg Just popping back in to check on this, to see if the recent update of Sketch to version 46 has done anything to help this cause. This plugin with text symbol functionality would be a God-send.

[2017-08-02 19:31] fuggfuggfugg commented on #19
I wish I could be the bearer of good news. But [this was posted 21](http://sketchplugins.com/d/97-nested-overrides-get-value-at-key/9) days ago.

I haven't had a chance to look what the latest version has to offer yet though.

[2017-08-04 20:08] mikeprecious commented on #34
Wanted to follow-up. Haven't had a chance to create a GIF. Behaviour is exactly as described above. Will try to get a GIF over to you this weekend.

[2017-08-09 20:27] mikeprecious commented on #19
Any new news? Looks like we just had a bug squashing release of Sketch app float out. Would love to just get basic button resize for text within a box existing as a symbol. One of your recent patched versions of the plugin worked. As soon as I used Sketchpacks to update, it updated and removed the basic text-shape trigger.

[2017-08-10 02:19] fuggfuggfugg commented on #19
@mikeprecious

Those changes still sit in a separate branch. I have yet to merge it in to the main branch. I started out late Sunday evening hoping it would be a quick update but I encountered huge merge conflicts and wasn't able to finish up. Gimme a day or two.

My apologies.

[2017-08-13 23:57] fuggfuggfugg commented on #19
@mikeprecious Just an FYI, I'm close to merging the changes from the nested-symbol branch. Encountered a minor bug as I started testing,  One of the methods is no longer supported. I've opened a [ticket](http://sketchplugins.com/d/338-context-document-actionscontroller-actionwithid-is-undefined) for now.

I'll keep you updated.

[2017-08-21 02:48] fuggfuggfugg commented on #19
@mikeprecious Another update, I've still been working today to get all the changes from the nested symbol branch working also it's not fully done yet. The basic functionality is working however the nested functionality is broken in certain cases.

The old branch has tons of deprecated code and no longer is supported in the new Sketch version. There is no good documentation either so it is becoming

[2017-08-21 03:00] swizenfeld commented on #19
Thank you for the update we all appreciate your hard work!

On Sun, Aug 20, 2017 at 7:48 PM fuggfuggfugg <notifications@github.com>
wrote:

[2017-08-21 03:14] Nate-Gee commented on #19
I appreciate the update and effort.

[2017-08-28 03:33] fuggfuggfugg commented on #34
@mikeprecious Sorry for the delay.

The code currently was very messy and getting hard to debug. I had to refactor the code so I could debug it better. I have ported the changes from the other branch.

Issues Fixed:
* From Symbol Master if you select the text, change padding and cmj+j, it will add the new padding to the symbol master and update all the children.
* If you simply do cmd+j on symbol

[2017-08-28 03:34] #24 closed, assigned to nobody

[2017-08-29 17:07] Mythrendel commented on #2
@fuggfuggfugg @dcarmona05 @hoathai

I see now there is some support for symbols in the official release of this plugin but as this issue is not marked as resolved I thought I'd at least mention the plugin I wrote to allow fairly robust button handling using symbols. It supports re-labeling, re-padding, and even re-positioning the button all via symbol layer overrides.

https://github.com/mwhite05/

[2017-08-29 17:36] fuggfuggfugg commented on #2
I don't have Sketch at work to test your plugin. I'll give it a shot tonight from home if possible. Do you have a gif I can look at in action?

Does your plugin work with nested symbols? I haven't been able to crack this shit yet. You can check this [ticket](http://sketchplugins.com/d/97-nested-overrides-get-value-at-key/8) and [this one](http://sketchplugins.com/d/108-2-text-values-for-the-same-s

[2017-08-29 17:42] Mythrendel commented on #2
I can probably create a gif real quick with the right tool - what tool
did you use to make the one in your readme?

--
Sent from Postbox
<https://www.postbox-inc.com/?utm_source=email&utm_medium=siglink&utm_campaign=reach>

[2017-08-29 17:59] Mythrendel commented on #2
@fuggfuggfugg

My plugin doesn't try to work for nested symbols yet. To be honest I haven't quite found a need for it with my setup. That said; I looked at the issue gif you posted and I am inclined to say let's you and I and maybe @herrkris pester the Sketch dev team until this is made possible. Before we contact them let's have a very specific suggestion of the recommended data structure we want

[2017-08-29 18:26] herrkris commented on #2
Nested symbols -- at least the time I checked -- were quite hard to implement because there wasn't a reliable way to find the text layer for the measurement stuff. But perhaps things have changed by now?

[2017-08-29 18:38] Mythrendel commented on #2
@herrkris - Right; from what I can see there really isn't a proper way to do that yet. I was just thinking the three of us could collaborate on a data structure that would work better and all of us work together to propose the change to the Sketch dev team.

[2017-08-30 01:12] fuggfuggfugg commented on #2
Apologies for the delay, still at work.

@mwhite05 I use LiceCap.

@herrkris You are correct. The issue is getting most recent overridden text. To elaborate, the issue occurs when there are 2 overrides for a symbol. The overrides() output data does not save the order of the text override entered.

gif in action - http://sketchplugins.com/assets/files/2017-03-18/02:51:150-symbols1gif.gif
[code]

I

[2017-08-30 13:29] herrkris commented on #2
But how does the Sketch Team knows which text to display? They have to keep track of that somehow too, I would say. The only solution right now would be to store the current text, compare it with the override entries and choose the text entry which differs from the one which was stored.

But that means that we would have to track every symbol and store it in memory. Hm. What I don't get is, why st

[2017-08-30 13:59] Mythrendel commented on #2
@fuggfuggfugg

I've added a demo gif to the readme page of my plugin: https://github.com/mwhite05/Button-Symbols

[2017-08-30 14:56] Mythrendel commented on #2
@fuggfuggfugg @herrkris

If I understand correctly, the entire reason people are asking for nested symbols is so they can make the button look different.

If my understanding is accurate, you and others may find my plugin solves the underlying problem (though in a different way entirely).

I've just added a second demo gif that demonstrates using top-level symbol swapping vs swapping a symbol nest

[2017-08-30 15:39] fuggfuggfugg commented on #2
pinging @mikeprecious @cypmal @swizenfeld  - They'd be definitely interested in the your plugin & this discussion

[2017-08-30 16:03] mikeprecious commented on #2
Thanks @fuggfuggfugg for looping us in! Checked out the plugin! Looks promising. Would love to see a trigger-able action in the plugin architecture, to convert an existing element into a Button-Symbols plugin compatible element. Bit of extra legwork to carry around a Sketch file with a spec'd instance. Otherwise, really great beginnings of a viable button management concept.

Ref:
https://github.c

[2017-08-31 13:30] Mythrendel commented on #2
@fuggfuggfugg @cypmal @swizenfeld

I took a stab at adding an insert button symbol command last night so you don't have to have a separate Sketch file with that primary button symbol in it. You can read more about it here: https://github.com/mwhite05/Button-Symbols/issues/1

[2017-09-02 23:26] fuggfuggfugg commented on #2
fyi - https://www.youtube.com/watch?v=suP1sOU4J3E

This is huge

[2017-09-04 02:31] Mythrendel commented on #2
wow..... **mind blown**

Libraries in Sketch.... amazing.

_takes a little time to think over how to leverage these both for design at work and in my plugin_

[2017-09-07 21:09] ixley opened #37 "Set padding specs on container background instead of text?"
I've been using this plugin for a while now and find it incredibly useful. It offers functionality that I think should be way better supported natively by Sketch but am thankful for the plugin ecosystem and your contributions!

There are a couple contexts that make it harder to use this plugin consistently and some of it seems like it might be addressed by a subtle shift in how values are passed/r

[2017-09-08 02:27] fuggfuggfugg commented on #37
Hi Jeff,
Apologies for the delay in response and thanks for the kind words.

Allow me answer point 2 first: This plugin is not limited to text layer only. For your case above, you can easily group your text layer and icon together and put the padding on the group name and cmd+j on the group layer should create the button around it.
Gif in action
![test](https://user-images.githubusercontent.com/56

[2017-10-07 21:43] swizenfeld commented on #19
Hello, Wanted to check in on your work for child symbols + dynamic button.

[2017-10-11 12:54] itaydre commented on #33
Hey,

Well, this is very big delay but still have this issue, I really appreciate your effort, maybe there's a glitch with the specific shortcut.

Is there any way to change it?

[2017-11-02 19:00] fuggfuggfugg commented on #33
Sorry for the delay in reply, You can manually change the manifest file in your local machine.

https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5/blob/master/DynamicButton3.5.sketchplugin/Contents/Sketch/manifest.json#L16

[2017-11-02 19:02] fuggfuggfugg commented on #19
@swizenfeld I have to admit I haven't had any chance to work on this at all. Past few weeks have been very busy at my day job. Have to work on weekends too. However, I have been keeping an eye on the sketchplugins forum at my post if anyone has found a solution. Nothing yet.

[2017-11-02 19:04] swizenfeld commented on #19
No worries man, I understand we are all busy.
I still appreciate everything you have done.

On Thu, Nov 2, 2017 at 12:02 PM fuggfuggfugg <notifications@github.com>
wrote:

[2017-11-06 11:22] cooper-joe opened #38 "Padding not working correctly"
Not sure why, but left/right padding is not working for me right now when using the plugin on a symbol. See attached .gif. You can see the text shift to the correct place when I "Detach from symbol". Have included a screenshot of the structure of the symbol too.

Sketch 47.1, Dynamic button 1.1.3
![dynamicbug](https://user-images.githubusercontent.com/33054985/32439003-07dad7b6-c2ed-11e7-8f7a-1ec9

[2018-01-24 21:57] ixley commented on #37
So there are a couple issues...
1. What I meant was that when I turn this into a symbol, the override label takes its name from the layer label. But if I have sizing set to the text layer, that becomes the override label.
![image](https://user-images.githubusercontent.com/160662/35359113-b7a35ac0-010d-11e8-921d-195a21cf98d1.png)
Not a huge deal, but now if I try to switch this symbol to a differen

[2019-02-13 16:18] Nirnturt opened #39 "Dynamic buttons have lapsed in version 53 of sketch"
I'm using the latest version of sketch 53, and the dynamic button is no longer working on this version.

[2019-02-20 20:46] EzhovIgor commented on #39
Similar problem in version 53.

[2019-02-21 05:47] fuggfuggfugg commented on #39
I'll look into it. If only my i can get my macbook to get past the white screen of death.

[2019-02-21 07:09] fuggfuggfugg commented on #39
@EIVX @EzhovIgor I cannot install Sketch53 because my OS is old. Can you help me with the error:

1: Open console app (cmd + space > console) Type sketch in the search bar so errors are filtered.
2: Open Sketch > new doc > Type something and cmd + J.
3: Click Save (under search bar) or copy paste errors here.

[2019-02-21 08:57] EzhovIgor commented on #39
Well, as I will be near the computer, I will conduct the procedure =)

[2019-02-21 16:20] sashagolds commented on #39
@fuggfuggfugg which log file do you want?

[2019-02-21 19:07] EzhovIgor commented on #39
Could not get the data. Can I describe in more detail the process of getting the error files?

[2019-02-22 00:28] fuggfuggfugg commented on #39
@sashagolds  @EzhovIgor

Follow below steps:

![1](https://user-images.githubusercontent.com/5616123/53211316-9b48a600-35f5-11e9-84ef-1eba3fb872a2.png)
![2](https://user-images.githubusercontent.com/5616123/53211328-a13e8700-35f5-11e9-8e2a-c9619c39e077.png)
![3](https://user-images.githubusercontent.com/5616123/53211333-a56aa480-35f5-11e9-9c9e-4d521aa5004f.png)
![4](https://user-images.githubuserc

[2019-02-22 06:11] EzhovIgor commented on #39
Sorry. I still rolled back to version 52.6. By the way, in 53 the plugin works, but it is crooked and only with objects already done before.

[2019-02-22 19:08] sashagolds commented on #39
@fuggfuggfugg Attached below!
[code]

[2019-02-23 00:04] fuggfuggfugg commented on #39
@sashagolds Thanks a lot, I see the type error - Looks like the method is deprecated.
Uninstall your plugin and run this for Sketch 53. It works for lower versions.

[Test_DynamicButton53.sketchplugin.zip](https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5/files/2896251/Test_DynamicButton53.sketchplugin.zip)

If you can confirm then I can update the Repo

[2019-02-25 08:04] corywatilo commented on #39
@fuggfuggfugg Confirmed your zip works for me in `53.2`. Thanks so much for keeping this updated!

[2019-02-25 15:47] raulfunkie commented on #39
that zip file version is working fine in 53.2

Thanks for the quick update!

[2019-02-25 19:23] fuggfuggfugg commented on #39
Thanks for the confirmation. I noticed the sketchpacks thingy needs to be updated as well. I'll update the repo & fix sketchpacks so future releases will be easy.

[2019-02-28 13:45] raulfunkie commented on #39
Thanks for keeping the plugin alive!

[2019-05-13 08:46] Jen-233 commented on #39
Thanks a lot.

[2019-05-20 16:57] dan-shin commented on #39
Thank you @fuggfuggfugg for your continued support.  Dynamic button is a lifesaver.  Can confirm that the zipped file version of the plugin works for Sketch 54.1.

[2019-07-16 22:56] siqiranran opened #40 "Issue with dynamic button plugin"
I just installed the plugin from Sketch Toolbox but it doesn't work for me. I checked my Sketch is 55.2. Does anyone know why this happens? Thank you!
![Dynamic Button Plugin Issue](https://user-images.githubusercontent.com/19292782/61335440-4a269200-a7e2-11e9-9bbb-1a3f2bdc553f.gif)

[2019-07-16 23:19] fuggfuggfugg commented on #40
Can you check with this [version](https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5/files/2896251/Test_DynamicButton53.sketchplugin.zip)

If the above does not work, can you follow these [instructions](https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5/issues/39#issuecomment-466224429) and provide me with the error.

I’m sorry man, my macbook is dead and I don’t use sketch at all th

[2019-07-16 23:26] siqiranran commented on #40
Hi! thanks for your help! That kinda works for me. Now it creates a button for me. But the issue is I can't change the padding of the button by changing the number. If I drag horizontally it changed evenly, but if I drag vertically, it doesn't.

[2019-07-16 23:44] fuggfuggfugg commented on #40
Let me take a look this evening (no guarantees) and update you.

[2019-08-07 15:59] nicoconi commented on #40
Same problem here !

[2021-06-02 13:43] #13 closed, assigned to nobody